$headbg: #001F3F;
$headnav: #FF5A30;
$pri-text: #FFFFFF;
$p-text: #DCE7F1;
$ser: #FF5A30;
$serbg: rgba(255, 255, 255, 0.10);
$bannerbgc: rgba(0, 31, 63, 0.80);
$hr: #646C93;
$sidep: #435970;

$container: 1170px;
$bor: 50px;
$banner: 482px;
$size: 50px;